body{
    text-align: center;
    background-color: #eaf6f6;
    margin-left: 8%;
    margin-right: 8%;
}

table{
    margin-left: auto;
    margin-right: auto;
}


.profile-photo{
    height: 180px;
    border-radius: 300px;
    border-width: 20px; 
}


#line{
    width: 300px;
}

#line2{
    width: 1000px;
}

#line3{
    width: 1000px;
}


.middle-container{
    margin-left: 500px;
    margin-right: 500px;
}


.heading{
    margin-left: 600px;
    margin-right: 600px;
}

.second-box{
    margin-left: 500px;
    margin-right: 500px;
}

p{
    margin-right: 20px;
    margin-left: 20px;
}

h3{
    font-size: 25px;
    text-decoration: underline;
    /* text-decoration-color: cadetblue; */
}

h2{
    text-decoration: underline;
    font-size: 35px;
}

.aw{
    height: 275px;
    margin-top: 20px;
    /* border-radius: 200px;
    border-width: 20px;
    border: solid 5px; */
}
.html-logo{
    height: 260px;
    margin-top: 20px;
    /* border-radius: 200px;
    border-width: 20px;
    border: solid 5px; */
}
p{
    font-size: 20px;
}


.schools{
    background-color: #F2EDD7;
    height: 250px;
    margin-bottom: 30px;
    margin-top: 0px;
    border-radius: 20px;
    margin-left: 500px;
    margin-right: 500px;

}


h2{
    margin-bottom: 20px;
}


hr{

    background-color: black;
    border-style: none;
    height: 2px;
    width: 1200px;
    
}

.Illustrator{
    background-color: rgb(224, 221, 221);
    height: 500px;
    margin-bottom: 20px;
    margin-top: 20px;border-radius: 20px;
}

.html{
    background-color: rgb(224, 221, 221);
    height: 450px;
    margin-bottom: 20px;
    margin-top: 20px;border-radius: 20px;
}

.photoshop{
    background-color: rgb(224, 221, 221);
    height: 460px;
    margin-bottom: 20px;
    margin-top: 20px;border-radius: 20px;
}

.indesign{
    background-color: rgb(224, 221, 221);
    height: 480px;
    margin-bottom: 20px;
    margin-top: 20px;border-radius: 20px;
}

/* .education{
    margin-right: 800px;
} */